body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}


header {
    background-color: #84abff;
    color: white;
    padding: 1em 0;
    text-align: center;
}
#title h2 {
    font-size: 15px;
}

#title h1, .title h2 {
    margin: 5px;
}


.mainNav ul {
    list-style: none;
    padding: 10px;
    margin: 1em 0 0 0;
}

.mainNav ul li {
    display: inline;
    padding: 40px;
}


.mainNav ul li a:hover {
    color: #ddd;
}

.mainNav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 10px 20px;
    border-radius: 5px;
}

.mainNav ul li a.active {
    background-color: white;
    color: #84abff;
    animation: fadeIn 0.5s ease-out;
}

/* Animacja wyblaknięcia */
@keyframes fadeIn {
    from {
        background-color: rgba(255, 255, 255, 0);
        color: rgba(132, 171, 255, 0);
    }
    to {
        background-color: white;
        color: #84abff;
    }
}





main {
    padding: 1em;
    background-color: white;
    margin: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.articles {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.post {
    border: 1px solid #ddd;
    padding: 1em;
    background-color: #f9f9f9;
    border-radius: 5px;
}


.postContent {
    display: flex;
    align-items: flex-start;
    gap: 1em;
}

.postImage {
    width: 25%; 
    max-width: 200px;
    border-radius: 5px;
}



.postText, .text {
    flex: 1; 
}


.post a {
    display: inline-block;
    margin-top: 1em;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.post a:hover {
    text-decoration: underline;
}


.Content {
    display: flex;
    align-items: flex-start;
    gap: 1em;
    max-width: 800px;
    margin: 0 auto;
}


.aboutMePhoto {
    width: 25%; 
    max-width: 200px;
    border-radius: 5px;
    flex-shrink: 0; 
    position: relative;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.aboutMePhoto:hover {
    transform: scale(1.1);
}


.aboutMePhoto:hover::after {
    opacity: 1;
}


.fatFooter {
    background-color: #84abff;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
}


.footerSection h4 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.footerSection ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footerSection ul li {
    padding-bottom: 0.4em;
}

.footerSection ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-bottom: 0.5em;
}

.footerSection ul li a:hover {
    color: #ddd;
}

main h2, main h4 {
    text-align: center;
    margin-bottom: 1em;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}


.formContent {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    max-width: 600px;
    width: 100%;
    padding: 1em;
}


.formLeft, .formRight {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.formLeft {
    flex: 1;
}

.formRight {
    flex: 2;
}

textarea {
    width: 100%;
    resize: none;
}


.formSubmit {
    display: flex;
    justify-content: center;
    width: 100%;
}

button {
    padding: 0.75em 1.5em;
    background-color: #84abff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
}

button:hover {
    background-color: #557fca;
}
